body {
  max-width: 800px;
  margin: auto;
  padding: 0 1em 1em 1em;
  line-height: 1.5em;
  background-color: #FBF8F1;
}

.masthead {
  padding: 0.5em 1em 1em 1em;
}

.masthead h1 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.masthead img {
  max-width: 80px;
}

.menu {
  padding: 0;
  direction: ltr;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}



.menu ul { 
  margin: 0;
  padding: 0;
}

.menu li { 
  border: none;
  display: inline-block;
    margin-top: 5px;
}
.article-meta {
  background: #FFEDDB;
  padding: 5px;
  border-radius: 5px;
  border-bottom: none;
}

.menu a {
  display: inline-block;
  padding: 5px 10px;
  background: #444;
  color: #fff;
  border-radius: 5px;
}
.menu .active a {
  background: none;
  border: 1px solid #444;
  color: #000;
}

.menu, .article-meta, footer { 
  text-align: center; 
}

.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

.title {
  text-align: center;
}

.title h2, .title h3 {
  margin: 1.5em auto;
}
.title h1 {
  margin: 1em auto 0 auto;
}
.title hr {
  margin: 2em auto;
}