/* Micro Reset */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button, input, select, textarea, label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

/* Typography */

body {
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 60px 0 30px;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3, h4, h5, h6 {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}

blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #ddd;
}
.home blockquote {
  border-left-color: transparent;
}
/* Code */

pre, code {
  font-size: .9em;
}

pre code {
  display: block;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  line-height: 1.75;
}

code {
  background: #f9f9f9;
}

pre code {
  background: none;
}

/* Lists */

ul, ol {
  padding: 0 0 0 20px;
}

li {
  margin: 4px 0;
  padding: 0;
}

/* Links */

a {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

a:hover {
}

sup a {
  border-bottom: none;
}

/* Miscellanea */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 50px auto;
  padding: 0;
  max-width: 360px;
  color: #ffffff;
}

.copyright {
  text-align: center;
}


.post-nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: 1em;
  text-align: right;
}

.nav-prev {
  margin-right: 1em;
}

.comments {
  margin-top: 20px;
}

/* Layout */

body {
  width: 960px;
  margin: 0 auto;
  }

body:before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body{
  display: block;
  top: 0;
  z-index: 10;
}

.main {
  width: auto;
  padding: 10px;
  margin-left: 0;
  border-left: none;
  min-height: auto;

  /* min-height: calc(100vh - 60px); */
}

/* Masthead */
.masthead {
  display: flex;
  align-items: center; /*定义body的元素垂直居中*/
  justify-content: center; /*定义body的里的元素水平居中*/
  flex-direction:column;

  /* height: auto; */
  margin-left: 10px;
  margin-right: 10px;
}
.masthead-top {
  padding-top: 0px;
}
.masthead-bottom {
  padding-top: 0px;
}
.masthead-home {
  display: flex;
  align-items: center; /*定义body的元素垂直居中*/
  justify-content: center; /*定义body的里的元素水平居中*/
  flex-direction:column;

  height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
}
.masthead-top-home  {
  padding-top: 25vh;
}
.masthead-bottom-home  {
  margin-top: auto;
  margin-bottom: 30px;
}

.masthead h1, .masthead-home h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0;
  /* text-align: right; */
  /* font-size: 46px; */
  /* line-height: 58px; */
}

.masthead h1 a, .masthead-home h1 a{
  border-bottom: none;
}

.masthead .tagline, .masthead-home .tagline {
  font-style: italic;
  text-align: right;
}

.masthead .menu, .masthead-home .menu{
/* 　display: flex;
　justify-content: center;
　align-items: center; */
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 400px;
  text-align: center;
  align-content: center;
  background: rgba(255,255,255,.5);
  border-radius: 15px;


}
.masthead .menu ul, .masthead-home .menu ul{
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.masthead .menu a, .masthead-home .menu a {
  direction: ltr;
}

.masthead .menu ul ul, .masthead-home .menu ul ul {
  margin-left: 10px;
  margin-right: 10px;

}

.masthead .menu li li::before, .masthead-home .menu li li::before {
  content: "•\00a\000a0\00a0"
}

.masthead .menu a, .masthead-home .menu a {
  display: inline-block;
  background: #0cdae9;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}
.masthead .menu .active a, .masthead-home .menu .active a {
  background: #ffffff;
  border: 1px solid #0cdae9;
  color: #0cdae9;
}
.masthead .menu li, .masthead .menu li:first-child, .masthead-home .menu li, .masthead-home .menu li:first-child {
  border: none;
  display: inline-block;
}

.panel { order: inherit; }
.label { width: 100%; }
.masthead img, .masthead-home img {
  max-width: 100%;
}
#menu-check {
  display: none;
}

#menu-label {
  display: none;
}

/* Main */

.main .title h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.title h3 {
  font-weight: normal;
  text-align: center;
}

.subtitle {
  font-size: .9em;
  color: #666;
}

/* Footnotes */

.footnotes {
  font-size: .9em;
}

/* Tables */

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #666;
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #f8f8f8;
}
.menu li:not([class]) a, a:hover, .copyright a {
  border-bottom: none;
}
footer .copyright {
  color: #0cdae9;
}
footer .copyright a{
  color: #0cdae9;
}
.site_record {
  text-align: center;
}
.site_record a {
  border-bottom: none;
}
footer .site_record {
  color: #0cdae9;
}
footer .site_record a{
  color: #0cdae9;
}
/**
 * Utility Styles
 */

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * -------------------------------------------------------------------------
 *  Media Queries
 * -------------------------------------------------------------------------
 *
 * The @viewport tag does the same thing as
 *
 *   <meta name="viewport" content="width=device-width">
 *
 * but in the future W3C standard way. The -ms- prefix is required for
 * IE10+ to render responsive styling in Windows 8 "snapped" views;
 * IE10+ does not honour the meta tag.
 */

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* Tablet screens and smaller */

@media screen and (max-width: 960px) {

  body {
    width: auto;
    max-width: 700px;
  }

  
}

/* Landscape phone screens and smaller */

@media screen and (max-width: 720px) {
}

/* Portrait phone screens */

@media screen and (max-width: 480px) {

  body {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
  }

  h3, h4, h5, h6 {
    font-size: 16px;
  }

  pre, code {
    font-size: 12px;
  }
  .masthead .menu a, .masthead-home .menu a {
    display: inline-block;
    background: #0cdae9;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
  }
}

.content {
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.archive {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.archive-ul {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.archive-ul ul {
  margin: 20px;
  padding: 0;
  background: rgba(255, 255, 255, 0);

}


.home blockquote {
  border-left-color: transparent;
}
footer {
  text-align: center;
  padding: 10px 10px 40px 10px;
}


.head-title {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 50px 20px 20px 20px;
}